<h1>Pet Owners' Database</h1>

<div>
    <%= link_to "Create New Owner Here", new_owner_path %>
</div>

<h2>Entries so far:</h2>
<% @owners.each do |owner| %>
    <table>
        <tr>
            <td> <strong>Name</strong> </td>
            <td><%= owner.name %></td>
        </tr>
        <tr>
            <td> <strong>Contact Details</strong> </td>
            <td><%= owner.tel_num %></td>
        </tr> 
    </table>
    <div>
        <% unless owner.archived? %>
            <%= link_to "SHOW", owner %> 
        <% end %>
    </div> 
    <br>
<% end %>


