<% unless pet.archived? %>  <!--BUG RESOLVED!-->
    <ul>
        <li><strong><%= pet.name %></strong> <em>(<%= pet.pet_type %>)</em></li>
    </ul>
    <p>
        <%= link_to "Remove Pet", [pet.owner, pet], data: {
            turbo_method: :delete,
            turbo_confirm: "Say Goodbye to your Pet?!"
        } %>
    </p>
<% end %>